:root {
  --primary: #264653;
  --secondary: #2a9d8f;
  --ternary: #e9c46a;
  --ternary2: #f4a261;
  --ternary3: #e76f51;
}
body {
  background-color: var(--secondary);
  margin: 0px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
