@import "../../../styles.css";
.textContainer {
  font-family: monospace;
  font-size: 1rem;
  padding: 2rem;
  border-radius: 10px/10%;
  background-color: var(--primary);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
