@import "../../../App.module.css";
.TextContainerUnfocused {
  filter: blur(4px);
  -webkit-filter: blur(3px);
  font-family: monospace;
  font-size: 1.5rem;
  padding: 1.2rem;
  /* margin: 1rem; */
  border-radius: 10px;
  text-align: left;
  display: inline-block;
  background-color: var(--secondary);
  outline-color: var(--primary);
  outline-style: solid;
}

.TextContainerFocused {
  filter: none;
  -webkit-filter: none;
  font-family: monospace;
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 10px;
  text-align: left;
  display: inline-block;
  background-color: var(--secondary);
  outline-color: var(--primary);
  outline-style: solid;
}
