@import "../styles.css";

.HeaderContainer {
  background-color: var(--primary);
  margin: 0 0 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  flex: none;
}

.Button {
  background-color: var(--tertiary);
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  margin: 0.5rem;
  padding: 0.3rem;
  box-shadow: 2px 2px 5px 0px black;
  border-radius: 10px;
}
.Button:hover {
  background-color: var(--quaternary);
}

.Link {
  text-decoration: none;
}
